---
layout: presentation
---

{% for post in site.posts reversed %}
	{% include slide.html %}
	<div class="page-break"></div>
{% endfor %}
{% unless site.simple-slideshow %}
{% if site.overview %}
<section id="overview" class="step" {% for attr in site.overview-data %} data-{{attr[0]}}="{{attr[1]}}"{% endfor %}></section>
{% endif %}
{% endunless %}
<head>
        <title>Jannik </title>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="top">
            <div id="logo">JP</div>
            <div id="logo-name">Jannik Philippin</div>
            <div id="navigation">
                <a href="#about-me">Über mich</a>
                <a href="#sport">Sport</a>
                <a href="#drawing">Zeichnen</a>
                <a href="#guitar">Gitarre</a>
                <a href="#online-store">Online Store</a>
            </div>
            <div id="image">
                <img src="image.jpg" alt="Website Banner">
            </div>
        </div>
        <div id="main">
            <section id="about-me"><h2 style="color:rgb(52, 20, 112)">Über mich</h2>
                <p>Ich bin Jannik Philippin, 19 Jahre alt und möchte dieses Jahr eine Ausbildung zum Fachinformatiker beginnen. Im Folgenden möchte ich Sie gerne an meinen Hobbies und Interessen teilhaben lassen. Soziale Netzwerke habe ich nicht verlinkt, da ich nur Whatsapp und Instagram regelmäßig nutze, aber dort nicht als öffentlich Person auftrete und keine persönlichen Inhalte hochgeladen habe.</p>
                <p>Warum eine Ausbildung zum Fachinformatiker?</p>
                <p>Computer mit ihrer Hard- und Software haben mich schon immer begeistert. Meinen eigenen PC habe ich selbst zusammengebaut und auch Freunden dabei geholfen passende und gute PC-Komponenten für sie rauszusuchen. Außerdem habe ich schon Kenntnisse im Erstellen von Webseiten mit Wordpress etc. und Anfängerkenntnisse mit HTML. Da mich diese Dinge so faszinieren und ich kaum abwarten kann mir neue Programmierfähigkeiten anzueignen, bin ich mir sicher, dass ich die richtige Berufsrichtung für mich gefunden habe.</p>
            </section>
            <section id="sport"><h2 style="color:rgb(52, 20, 112)">Sport</h2>
                <p>Sport, Fitness und Gesundheit begeistert mich sehr. Seit einigen Monaten gehe ich ins Fitnessstudio und habe Gefallen daran gefunden einen Trainings- und Ernährungsplan zu verfolgen.</p>
            </section>
            <section id="drawing"><h2 style="color:rgb(52, 20, 112)">Zeichnen</h2>
                <p>Eine weitere Leidenschaft von mir ist das Zeichnen. Zu meinen liebsten Motiven gehören Autos, vor allem Oldtimer und Sportwagen, da ich ein großer Fan davon bin. Außerdem zeichne ich des Öfteren Gebäude im Sketch-Stil.</p>
                <p>Ebenfalls habe ich mich vor ein paar Jahren mit dem digitalen Zeichnen mithilfe von Software und Zeichen-Tablet beschäftigt. Jedoch habe ich das nicht weiterverfolgt, da die Software und ein gutes Tablet zu teuer für mich waren.</p>
                <p>Allerdings bin ich in der Lage Logos usw. für meine Webseiten mit Photoshop zu entwerfen.</p>
            </section>
            <section id="guitar"><h2 style="color:rgb(52, 20, 112)">Gitarre</h2>
                <p>Über mehrere Jahre besuchte ich den Gitarrenunterricht der Jugendmusikschule. Anfangs habe ich ausschließlich klassische Stücke gespielt, wie es typisch für Beginner ist. Mit der Zeit fing ich an die spanische Gitarre zu favorisieren. Ich bewundere Flamenco Spieler wie <a href="https://www.youtube.com/watch?v=L9NCvSakgR8">Antonio Muñoz Fernández</a>, der seine Gitarre blind beherrscht und versuche mich ebenfalls auf spanische Stücke zu spezialisieren.</p>
            </section>
            <section id="online-store"><h2 style="color:rgb(52, 20, 112)">Online Store</h2>
                <p>Seit ein paar Jahren beschäftige ich mich mit dem Thema "Dropshipping". Kurz erklärt verkauft man dabei Produkte von Händlern teurer an Kunden auf der eigenen Webseite weiter, ohne die Produkte selbst zu besitzen und konzentriert sich dabei meistens auf eine Nische. Dabei habe ich gelernt, was es heißt sich eine Marke aufzubauen, ein gutes Webdesign zu haben und gute Werbekampagnen zu starten, um schlussendlich den Webseitenbesuchern Vertrauen zu vermitteln und zum Kauf zu animieren.</p>
                <p>In den letzten Wochen habe ich mich sehr auf meine neue Webseite konzentriert. Ziel war es eine Marke um das Thema „Home Fitness“ aufzubauen, was mir meiner Meinung nach auch sehr gut gelungen ist. Bei der Webseite muss man immer noch kleine organisatorische Details überarbeiten bevor die Produkte verkauft werden können. Dennoch bin ich mit dem Design komplett fertig geworden.</p>
                <p>Den Link zu der Webseite finden Sie <a href="https://homefitnation.myshopify.com/">hier</a>.</p>
            </section>
        </div>
        <div id="footer">
            Copyright 2020 -RP
        </div>
    
</body>
